{% block content %}
<div id="aboutme">
    <div class="container-fluid back text-center">
         <h3 style="color:white"><b>Who am I?</b></h3>
         <img src="/static/images/cv/cv_photo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Me" width="350" height="350">
         <h3 style="color:white"><b>I'm dedicated and hardworking software engineer seeking a trainee position in a stable company that will ultimately lead to a full-time, lasting career.</b></h3><hr>
    </div>
</div>
{% endblock %}
