{% block content %}
<div id="education">
  <h3 class="margin main"> EDUCATION <span class="glyphicon glyphicon-education"></span></h3>
  <hr style="width:300px;" align="left">
  <div class="panel-group">
    <div class="panel panel-default main">
      <div class="panel-heading">Uman State Pedagogical University (Master’s Degree)</div>
      <div class="panel-body"><span class="glyphicon glyphicon-time"></span> September 2017 to present</div>
    </div>
    <div class="panel panel-default main">
      <div class="panel-heading">man State Pedagogical University (Bachelor’s Degree)</div>
      <div class="panel-body"><span class="glyphicon glyphicon-time"></span> September 2013 to June 2017</div>
    </div>
  </div>
</div>
{% endblock %}
