{% block content %}
<div id="skills">
  <h3 class="margin main">SKILLS <span class="glyphicon glyphicon-hand-down"></span></h3>
  <hr style="width:300px;" align="left">
  <div class="margin main">
    <p> OOP <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
    <p >Python <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
    <p> Django <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
    <p> HTML5, CSS3, Bootstrap 3 <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
    <p> JavaScript <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
    <p> Postgres <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
    <p> Git <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star checked"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span></p>
  </div>
</div>
{% endblock %}
